{{#extends 'base'}}
{{#block "content"}}

<h1>Add new food record</h1>
<form method="POST">
    <div>
        <label class="form-label">Food Name:</label>
        <input type="text" class="form-control" name="foodName"/>
    </div>
    <div>
        <label class="form-label">Calories</label>
        <input type="text" class="form-control" name="calories"/>
    </div>
    <div>
        <label class="form-label">Tags</label>
        <div>
            <div>
                <input name="tags" class="form-check-input" type="checkbox" value="snack"/>
                <label>Snack</label>
            </div>
            <div>
                <input name="tags" class="form-check-input" type="checkbox" value="homecooked"/>
                <label>Homecooked</label>
            </div>
            <div>
                <input name="tags" class="form-check-input" type="checkbox" value="unhealthy"/>
                <label>Unhealthy</label>
            </div>
           
            <div>
                <input name="tags" class="form-check-input" type="checkbox" value="healthy" />
                <label>Healthy</label>
            </div>
        </div>

    </div>

    <input type="submit" class="btn btn-primary">

</form>

{{/block}}
{{/extends}}

