{{#extends 'base'}}
{{#block "content"}}

<form method="POST">
    <h1>Deleting food </h1>
    <div >
        Are you sure you want to delete the food :
       '{{foodRecord._id}}', '{{foodRecord.foodName}}',   ?
    </div>
    <input type="submit" value="OK" class="btn btn-danger"/>
    <a href="/" class="btn btn-success">Cancel</a>
</form>




{{/block}}

{{/extends}}